* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #000;
  color: #f1f1f1;
  font-family: "Circular pro book", sans-serif;
  height: 3000px;
}

h1, h2, li, a {
  color: #f1f1f1;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  padding: 1rem 0;
}

.kategori_tittel {
  color: #f1f1f1;
  font-weight: 500;
  font-size: 2rem;
  font-family: "Ms Madi", cursive;
  text-decoration: none;
  padding: 1rem 0;
}

header {
  width: 100%;
  background-color: #000;
  color: #f1f1f1;
  display: flex;
  font-family: "Circular pro book", sans-serif;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  position: sticky;
  top: 0px;
  transition: all 0.2s ease;
}

.sticky {
  padding: 0px 10%;
  margin-bottom: 60px;
}

.hoved {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 20px;
}

.logo {
  font-size: 2.5rem;
  font-weight: 500;
  font-family: "Ms Madi", cursive;
  pointer-events: none;
  width: 15rem;
  color: inherit;
}

.nav_lenker li {
  display: inline-block;
  padding: 0 20px;
}
.nav_lenker li a {
  transition: all 0.2s ease 0s;
}
.nav_lenker li a:hover {
  color: inherit;
  opacity: 0.7;
}

button {
  padding: 8px 25px;
  font-size: inherit;
  color: inherit;
  background-color: rgb(44, 113, 246);
  border: none;
  border-radius: 3em;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: rgba(44, 113, 246, 0.7);
}

.tittel {
  font-size: 3rem;
  font-weight: 700;
  font-family: "calibri";
  width: 100%;
  text-align: center;
}

.lunsj_retter {
  display: flex;
  flex-direction: column;
}
.lunsj_retter li {
  list-style: none;
  padding: 20px;
  margin: 10px 0px;
  border-radius: 10px;
  background-color: rgba(90, 113, 146, 0.2);
  line-height: 2rem;
}

.middag_retter {
  display: flex;
  flex-direction: column;
}
.middag_retter li {
  list-style: none;
  padding: 20px;
  margin: 10px 0px;
  border-radius: 10px;
  background-color: rgba(90, 113, 146, 0.2);
  line-height: 2rem;
}

.dessert_retter {
  display: flex;
  flex-direction: column;
}
.dessert_retter li {
  list-style: none;
  padding: 20px;
  margin: 10px 0px;
  border-radius: 10px;
  background-color: rgba(90, 113, 146, 0.2);
  line-height: 2rem;
}
