* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #000;
}

h1, h2, li, a {
    color: #f1f1f1;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

header {
    width: 100%;
    color: #f1f1f1;
    display: flex;
    font-family: "Circular pro book", sans-serif;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: "Ms Madi", cursive;
    pointer-events: none;
    width: 15rem;
    color: inherit;
}

.nav_lenker {

    li {
        display: inline-block;
        padding: 0 20px;
        a {
            transition: all 0.2s ease 0s;
            &:hover{
                color: inherit;
                opacity: 0.7;
            }
        }
    }
}

button {
    padding: 8px 25px;
    font-size: inherit;
    color: inherit;
    background-color: rgba(44,113,246, 1);
    border: none;
    border-radius: 3em;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
        background-color: rgba(44, 113, 246, 0.7);
    }
}

.tittel {
    font-size: 3rem;
    font-weight: 700;
    font-family: "calibri";
    // margin: 0 0 20px 20px;
    width: 100%;
    text-align: center;
}

.meny_retter {
    display: flex;
    flex-direction: column;
    li {
        list-style: none;
        padding: 20px;
        margin: 10px;
        border-radius: 10px;
        background-color: rgba(44,113,146, 0.1);
        a {
            color: inherit;
            font-size: 1.5rem;
            font-weight: 700;
            text-decoration: none;
            transition: all 0.2s ease 0s;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}